<div class="container">
    @if(indicators().length > 0){
    <div class="table-container">
        <div class="table-wrapper">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Nivel</th>
                        <th>Proceso</th>
                        <th>Valor</th>
                        <th>Meta</th>
                        <th>Variación</th>
                        <th>Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for(indicator of indicators(); track indicator.nombre){
                    <tr>
                        <td>{{ indicator.nombre }}</td>
                        <td>{{ indicator.fecha }}</td>
                        <td>{{ indicator.nivel }}</td>
                        <td>{{ indicator.proceso }}</td>
                        <td>{{ indicator.valor }}%</td>
                        <td>{{ indicator.meta }}%</td>
                        <td>{{ indicator.variacion }}%</td>
                        <td>{{ indicator.responsable }}</td>        
                        <td>
                            <button class="btn btn-warning btn-sm me-2" (click)="editIndicator(indicator.id)"><i
                                    class="bi bi-pencil"></i></button>
                            <button class="btn btn-danger btn-sm" (click)="deleteIndicator(indicator.id)"><i
                                    class="bi bi-trash3"></i></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    }@else {
    <div id="emptyBox">
        <p>Aún no tiene indicadores creados.</p>
    </div>
    }
</div>